@import "../../styles/colors.module.css";

.switchPanel {
    padding: 10px 0px 0px 0px;
}

.mainPanel {
    margin-top: 2rem;
}

.currentValue {
    margin: 1rem 0rem;
}

.routingKeyInput {
    display: flex;
    gap: 1rem;
    padding-bottom: 0.5rem;
    align-items: center;
}

.routingKeyInput .label {
    min-width: 120px;
}

.routingKeyInput input[type="text"] {
    padding: 0.25rem;
}

.switch {
}

.status {
    background-color: var(--SIGNADOT-GREEN700);
    padding: 0.5rem 1rem;
    color: white;
    font-size: 0.8rem;
}

.content {
    min-height: 240px;
}

.pinned {
    margin-top: 1rem;
}
