@import "../../styles/colors.module.css";

.switchPanel {
  padding: 10px 0px 0px 0px;
}

.mainPanel {
  margin-top: 2rem;
}

.currentValue {
  margin: 1rem 0rem;
}

.routingKeyInput {
  display: flex;
  gap: 1rem;
  padding-bottom: 0.5rem;
  align-items: center;
}

.routingKeyInput .label {
  min-width: 120px;
}

.routingKeyInput input[type="text"] {
  padding: 0.25rem;
}

.switch {
}

.status {
  background-color: var(--SIGNADOT-GREEN700);
  padding: 0.5rem 1rem;
  color: white;
  font-size: 0.8rem;
}

.content {
  min-height: 240px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content > .home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  flex: 1;
}

.selectedEntity {
  margin-top: 1rem;
  min-height: 120px;
}

.selectedEntityLabel {
  color: var(--SIGNADOT-NEUTRAL600);
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.noSelectedContainer {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noSelectedMessage {
  color: var(--SIGNADOT-NEUTRAL600);
  font-size: 0.875rem;
  text-align: center;
}
