/*
IMPORTANT:
This is copied over straight from Signadot repository. In order to not cause bifurcation of styles,
make changes to the file in the Signadot repository and copy over the same thing here.

Over a long term, we might instead want to use `design tokens` so that we can use the same
tokens on all UI surfaces for style consistency.

NOTE: Keep this file in sync with sandboxes/www/src/styles/colors.module.css
 */
:root {
    --NEUTRAL50: #F6F9FC;
    --NEUTRAL100: #F1F5F9;
    --NEUTRAL200: #E2E8F0;
    --NEUTRAL300: #CBD5E1;
    --NEUTRAL400: #94A3BB;
    --NEUTRAL500: #64748B;
    --NEUTRAL600: #475569;
    --NEUTRAL700: #334155;
    --NEUTRAL800: #1E293B;
    --NEUTRAL900: #0F172A;

    --PRIMARY50: #EEF9FF;
    --PRIMARY300: #71ACCD;
    --PRIMARY500: #2678A6;
    --PRIMARY700: #004165;
    --PRIMARY900: #00273E;

    --SECONDARY50: #DFFAFF;
    --SECONDARY300: #ABE9FD;
    --SECONDARY500: #6FD4E8;
    --SECONDARY700: #20BFDE;
    --SECONDARY900: #0789A3;

    --SUCCESS50: #ECFDF5;
    --SUCCESS300: #6EE787;
    --SUCCESS500: #10B981;
    --SUCCESS700: #047857;
    --SUCCESS900: #064E3B;

    --WARNING50: #FFFBEB;
    --WARNING300: #FCD34D;
    --WARNING500: #F28C27;
    --WARNING700: #AD3113;
    --WARNING900: #6A170C;

    --ERROR50: #FEF2F2;
    --ERROR300: #F3889C;
    --ERROR500: #EF4444;
    --ERROR700: #B91C1C;
    --ERROR900: #741414;

    --SIGNADOT-NEUTRAL50: #f2f3f5;
    --SIGNADOT-NEUTRAL100: #d7dbe2;
    --SIGNADOT-NEUTRAL200: #bcc3ce;
    --SIGNADOT-NEUTRAL300: #a1abbb;
    --SIGNADOT-NEUTRAL400: #8694a8;
    --SIGNADOT-NEUTRAL500: #6b7c94;
    --SIGNADOT-NEUTRAL600: #576579;
    --SIGNADOT-NEUTRAL700: #444f5e;
    --SIGNADOT-NEUTRAL800: #303843;
    --SIGNADOT-NEUTRAL900: #1d2228;
    --SIGNADOT-NEUTRAL950: #0a0b0d;

    --SIGNADOT-PRIMARY50: #ecf5fb;
    --SIGNADOT-PRIMARY100: #c6e2f2;
    --SIGNADOT-PRIMARY200: #a1cfe9;
    --SIGNADOT-PRIMARY300: #7bbce1;
    --SIGNADOT-PRIMARY400: #55a9d8;
    --SIGNADOT-PRIMARY500: #3096cf;
    --SIGNADOT-PRIMARY600: #277baa;
    --SIGNADOT-PRIMARY700: #1e5f84;
    --SIGNADOT-PRIMARY800: #16445e;
    --SIGNADOT-PRIMARY900: #0d2939;
    --SIGNADOT-PRIMARY950: #040e13;

    --SIGNADOT-SECONDARY50: #ebf9fc;
    --SIGNADOT-SECONDARY100: #c3edf5;
    --SIGNADOT-SECONDARY200: #9be1ef;
    --SIGNADOT-SECONDARY300: #73d5e9;
    --SIGNADOT-SECONDARY400: #4bc9e2;
    --SIGNADOT-SECONDARY500: #23bddc;
    --SIGNADOT-SECONDARY600: #1d9bb4;
    --SIGNADOT-SECONDARY700: #16788c;
    --SIGNADOT-SECONDARY800: #105664;
    --SIGNADOT-SECONDARY900: #0a343c;
    --SIGNADOT-SECONDARY950: #031114;

    --SIGNADOT-BLUE50: #e8f0ff;
    --SIGNADOT-BLUE100: #b9d2ff;
    --SIGNADOT-BLUE200: #8bb4ff;
    --SIGNADOT-BLUE300: #5d95ff;
    --SIGNADOT-BLUE400: #2e77ff;
    --SIGNADOT-BLUE500: #0059ff;
    --SIGNADOT-BLUE600: #0049d1;
    --SIGNADOT-BLUE700: #0039a2;
    --SIGNADOT-BLUE800: #002874;
    --SIGNADOT-BLUE900: #001846;
    --SIGNADOT-BLUE950: #000817;

    --SIGNADOT-GREEN50: #eafdf7;
    --SIGNADOT-GREEN100: #bff9e6;
    --SIGNADOT-GREEN200: #94f6d5;
    --SIGNADOT-GREEN300: #6af2c5;
    --SIGNADOT-GREEN400: #3feeb4;
    --SIGNADOT-GREEN500: #14eba4;
    --SIGNADOT-GREEN600: #11c086;
    --SIGNADOT-GREEN700: #0d9568;
    --SIGNADOT-GREEN800: #096b4a;
    --SIGNADOT-GREEN900: #06402d;
    --SIGNADOT-GREEN950: #02150f;

    --SIGNADOT-YELLOW50: #fff9e6;
    --SIGNADOT-YELLOW100: #feeebb;
    --SIGNADOT-YELLOW200: #fde38d;
    --SIGNADOT-YELLOW300: #fcd85f;
    --SIGNADOT-YELLOW400: #fccc32;
    --SIGNADOT-YELLOW500: #fbc104;
    --SIGNADOT-YELLOW600: #cd9e03;
    --SIGNADOT-YELLOW700: #a07b03;
    --SIGNADOT-YELLOW800: #725802;
    --SIGNADOT-YELLOW900: #443501;
    --SIGNADOT-YELLOW950: #171200;

    --SIGNADOT-ORANGE50: #fef3e9;
    --SIGNADOT-ORANGE100: #fbdcbd;
    --SIGNADOT-ORANGE200: #f8c592;
    --SIGNADOT-ORANGE300: #f6ae66;
    --SIGNADOT-ORANGE400: #f3963a;
    --SIGNADOT-ORANGE500: #f17f0e;
    --SIGNADOT-ORANGE600: #c5680c;
    --SIGNADOT-ORANGE700: #995109;
    --SIGNADOT-ORANGE800: #6d3a07;
    --SIGNADOT-ORANGE900: #422304;
    --SIGNADOT-ORANGE950: #160c01;

    --SIGNADOT-RED50: #fdeeea;
    --SIGNADOT-RED100: #f8cbc0;
    --SIGNADOT-RED200: #f4a997;
    --SIGNADOT-RED300: #ef866d;
    --SIGNADOT-RED400: #ea6443;
    --SIGNADOT-RED500: #e64119;
    --SIGNADOT-RED600: #bc3515;
    --SIGNADOT-RED700: #922910;
    --SIGNADOT-RED800: #681e0b;
    --SIGNADOT-RED900: #3f1207;
    --SIGNADOT-RED950: #150602;

    --SIGNADOT-OPACITY100: 0.1;
    --SIGNADOT-OPACITY200: 0.2;
    --SIGNADOT-OPACITY300: 0.3;
    --SIGNADOT-OPACITY400: 0.4;
    --SIGNADOT-OPACITY500: 0.5;
    --SIGNADOT-OPACITY600: 0.6;
    --SIGNADOT-OPACITY700: 0.7;
    --SIGNADOT-OPACITY800: 0.8;
    --SIGNADOT-OPACITY900: 0.9;

    /* TODO: James - Move the custom properties below that are related to the dashboard to a
         separate file. Keeping it here for now as it needs some thinking. */

    /* TODO: Defining background colors separately instead of from the color gamut
     above for fidelity with the Figma design. Change this once we get the final
     color gamut, with the background color derived from it. */
    /* --SIGNADOT-APP-BACKGROUND-COLOR: var(--SIGNADOT-NEUTRAL50); */ /* This seems to work better */
    --SIGNADOT-APP-BACKGROUND-COLOR: white; /* White background */
    --SIGNADOT-SIDEBAR-BACKGROUND-COLOR: white;
    --SIGNADOT-MAIN-BACKGROUND-COLOR: white;
    --SIGNADOT-APP-TOPBAR-COLOR: var(--SIGNADOT-NEUTRAL800);
    --SIGNADOT-APP-LINK-COLOR: var(--SIGNADOT-NEUTRAL50);

    --SIGNADOT-TEXT-COLOR-REGULAR: var(--SIGNADOT-NEUTRAL900);
    --SIGNADOT-TEXT-COLOR-FADED: var(--SIGNADOT-NEUTRAL300);

    --SIGNADOT-HYPERLINK-COLOR: var(--SIGNADOT-BLUE600);
    --SIGNADOT-HYPERLINK-ALTERNATE-COLOR: #215db0;

    --SIGNADOT-BORDER-COLOR: var(--SIGNADOT-NEUTRAL100);

    --SIGNADOT-PLACEHOLDER-TEXT-COLOR: var(--SIGNADOT-NEUTRAL200);

    --SIGNADOT-OLD-PRIMARY500: var(--PRIMARY500);
    --SIGNADOT-OLD-PRIMARY700: var(--PRIMARY700);
    --SIGNADOT-OLD-PRIMARY900: var(--PRIMARY900);

    --SIGNADOT-BUTTON-COLOR: var(--SIGNADOT-BLUE400);
    --SIGNADOT-BUTTON-HOVER-COLOR: var(--SIGNADOT-BLUE600);
}

