@import "../../styles/colors.module.css";

.container {
  width: 100%;
  padding: 0.25rem 0 0 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.25rem;
}

.title {
  font-weight: 600;
  font-size: 1.1rem;
}

.link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #106ba3;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.routingKey {
  color: #5c7080;
}

.headerButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--SIGNADOT-NEUTRAL600);
  padding: 4px 8px;
  border-top: 1px solid var(--SIGNADOT-BORDER-COLOR);
  transition: all 0.2s ease;
  margin-bottom: 0;
  margin-top: 8px;
  outline: none !important;
  box-shadow: none !important;
}

.headerButton:focus {
  outline: none !important;
  box-shadow: none !important;
  background: none !important;
}

.headerButton:hover {
  background-color: var(--SIGNADOT-NEUTRAL25);
  color: var(--SIGNADOT-BLUE400);
}

.headerButton:active {
  outline: none !important;
  box-shadow: none !important;
  background-color: var(--SIGNADOT-NEUTRAL25) !important;
}

.headerButtonText {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.headerButtonTitle {
  font-weight: 600;
  margin-right: 4px;
}

.headerButtonAction {
  font-weight: 400;
}

.headerButtonIcon {
  display: flex;
  align-items: center;
}

.headersList {
  padding: 0;
  margin: 0;
  border-top: 1px solid var(--SIGNADOT-BORDER-COLOR);
}

.headersTitle {
  font-size: 16px;
  font-weight: 600;
  color: var(--SIGNADOT-NEUTRAL800);
  margin: 8px 0;
}

.headerItems {
  list-style: none;
  padding: 0;
  margin: 0.5rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.noHeaders {
  color: #5c7080;
  font-style: italic;
}

.headerActions {
  display: flex;
  align-items: center;
  gap: 8px;
}
