@import "../../styles/colors.module.css";

.container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.footerContent {
  width: 100%;
  padding: 16px 16px 8px 16px;
  border-top: 1px solid var(--SIGNADOT-BORDER-COLOR);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.links {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--SIGNADOT-NEUTRAL600);
  text-decoration: none;
  font-size: 14px;
  transition: color 0.2s ease;
}

.link:hover {
  color: var(--SIGNADOT-BLUE400);
}

.userInfo {
  color: var(--SIGNADOT-NEUTRAL500);
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 4px;
  opacity: var(--SIGNADOT-OPACITY800);
}

.logoutLink {
  color: var(--SIGNADOT-NEUTRAL500);
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease;
}

.logoutLink:hover {
  color: var(--SIGNADOT-BLUE400);
}
